.text-success {
    color: #006a4e !important;
}

.text-success[href]:hover,
.text-success[href]:focus {
    color: #006a4e !important;
}

.bg-success {
    background-color: #006a4e !important;
}

.border-success {
    border-color: #006a4e !important;
}

.border-top-success {
    border-top-color: #006a4e !important;
}

.border-bottom-success {
    border-bottom-color: #006a4e !important;
}

.border-left-success {
    border-left-cowhitelor: #006a4e !important;
}

.border-right-success {
    border-right-color: #006a4e !important;
}

.text-success-300 {
    color: #006a4e !important;
}

.text-success-300[href]:hover,
.text-success-300[href]:focus {
    color: #006a4e !important;
}

.bg-success-300 {
    background-color: #006a4e !important;
}

.border-success-300 {
    border-color: #006a4e !important;
}

.border-top-success-300 {
    border-top-color: #006a4e !important;
}

.border-bottom-success-300 {
    border-bottom-color: #006a4e !important;
}

.border-left-success-300 {
    border-left-color: #006a4e !important;
}

.border-right-success-300 {
    border-right-color: #006a4e !important;
}

.text-success-400 {
    color: #006a4e !important;
}

.text-success-400[href]:hover,
.text-success-400[href]:focus {
    color: #006a4e !important;
}

.bg-success-400 {
    background-color: #006a4e !important;
}

.border-success-400 {
    border-color: #006a4e !important;
}

.border-top-success-400 {
    border-top-color: #006a4e !important;
}

.border-bottom-success-400 {
    border-bottom-color: #006a4e !important;
}

.border-left-success-400 {
    border-left-color: #006a4e !important;
}

.border-right-success-400 {
    border-right-color: #006a4e !important;
}

.text-success-600 {
    color: #006a4e !important;
}

.text-success-600[href]:hover,
.text-success-600[href]:focus {
    color: #006a4e !important;
}

.bg-success-600 {
    background-color: #006a4e !important;
}

.border-success-600 {
    border-color: #006a4e !important;
}

.border-top-success-600 {
    border-top-color: #006a4e !important;
}

.border-bottom-success-600 {
    border-bottom-color: #006a4e !important;
}

.border-left-success-600 {
    border-left-color: #006a4e !important;
}

.border-right-success-600 {
    border-right-color: #006a4e !important;
}

.text-success-00 {
    color: #006a4e !important;
}

.text-success-700[href]:hover,
.text-success-700[href]:focus {
    color: #2d7330;
}

.bg-success-700 {
    background-color: #006a4e !important;
}

.border-success-700 {
    border-color: #006a4e !important;
}

.border-top-success-700 {
    border-top-color: #006a4e !important;
}

.border-bottom-success-700 {
    border-bottom-color: #006a4e !important;
}

.border-left-success-700 {
    border-left-color: #006a4e !important;
}

.border-right-success-700 {
    border-right-color: #006a4e !important;
}

.text-success-800 {
    color: #006a4e !important;
}

.text-success-800[href]:hover,
.text-success-800[href]:focus {
    color: #246127;
}

.bg-success-800 {
    background-color: #006a4e !important ;
}

.border-success-800 {
    border-color: #006a4e !important ;
}

.border-top-success-800 {
    border-top-color: #006a4e !important;
}

.border-bottom-success-800 {
    border-bottom-color: #006a4e !important;
}

.border-left-success-800 {
    border-left-color: #006a4e !important ;
}

.border-right-success-800 {
    border-right-color: #006a4e !important;
}

.text-indigo {
    color: #071c75! important;
}

.text-indigo[href]:hover,
.text-indigo[href]:focus {
    color: #009aae;
}

.bg-indigo {
    background-color: #071c75! important;
}

.border-indigo {
    border-color: #071c75! important;
}

.border-top-indigo {
    border-top-color: #071c75! important;
}

.border-bottom-indigo {
    border-bottom-color: #071c75! important;
}

.border-left-indigo {
    border-left-color: #071c75! important;
}

.border-right-indigo {
    border-right-color: #071c75! important;
}

.text-indigo-300 {
    color: #071c75! important;
}

.text-indigo-300[href]:hover,
.text-indigo-300[href]:focus {
    color: #2cc7db;
}

.bg-indigo-300 {
    background-color: #071c75! important;
}

.border-indigo-300 {
    border-color: #071c75! important;
}

.border-top-indigo-300 {
    border-top-color: #071c75! important;
}

.border-bottom-indigo-300 {
    border-bottom-color: #071c75! important;
}

.border-left-indigo-300 {
    border-left-color: #071c75! important;
}

.border-right-indigo-300 {
    border-right-color: #071c75! important;
}

.text-indigo-400 {
    color: #071c75! important;
}

.text-indigo-400[href]:hover,
.text-indigo-400[href]:focus {
    color: #071c75! important;
}

.bg-indigo-400 {
    background-color: #071c75! important;
}

.border-indigo-400 {
    border-color: #071c75! important;
}

.border-top-indigo-400 {
    border-top-color: #071c75! important;
}

.border-bottom-indigo-400 {
    border-bottom-color: #071c75! important;
}

.border-left-indigo-400 {
    border-left-color: #071c75! important;
}

.border-right-indigo-400 {
    border-right-color: #071c75! important;
}

.text-indigo-600 {
    color: #071c75! important;
}

.text-indigo-600[href]:hover,
.text-indigo-600[href]:focus {
    color: #071c75! important;
}

.bg-indigo-600 {
    background-color: #071c75! important;
}

.border-indigo-600 {
    border-color: #071c75! important;
}

.border-top-indigo-600 {
    border-top-color: #071c75! important;
}

.border-bottom-indigo-600 {
    border-bottom-color: #071c75! important;
}

.border-left-indigo-600 {
    border-left-color: #071c75! important;
}

.border-right-indigo-600 {
    border-right-color: #071c75! important;
}

.text-indigo-700 {
    color: #071c75! important;
}

.text-indigo-700[href]:hover,
.text-indigo-700[href]:focus {
    color: #071c75! important;
}

.bg-indigo-700 {
    background-color: #071c75! important;
}

.border-indigo-700 {
    border-color: #071c75! important;
}

.border-top-indigo-700 {
    border-top-color: #071c75! important;
}

.border-bottom-indigo-700 {
    border-bottom-color: #071c75! important;
}

.border-left-indigo-700 {
    border-left-color: #071c75! important;
}

.border-right-indigo-700 {
    border-right-color: #071c75! important;
}

.text-indigo-800 {
    color: #071c75! important;
}

.text-indigo-800[href]:hover,
.text-indigo-800[href]:focus {
    color: #071c75! important;
}

.bg-indigo-800 {
    background-color: #071c75! important;
}

.border-indigo-800 {
    border-color: #071c75! important;
}

.border-top-indigo-800 {
    border-top-color: #071c75! important;
}

.border-bottom-indigo-800 {
    border-bottom-color: #071c75! important;
}

.border-left-indigo-800 {
    border-left-color: #071c75! important;
}

.border-right-indigo-800 {
    border-right-color: #071c75! important;
}

.text-brown {
    color: #805f4c !important;
}

.text-brown[href]:hover,
.text-brown[href]:focus {
    color: #805f4c !important;
}

.bg-brown {
    background-color: #805f4c !important;
}

.border-brown {
    border-color: #805f4c !important;
}

.border-top-brown {
    border-top-color: #805f4c !important;
}

.border-bottom-brown {
    border-bottom-color: #805f4c !important;
}

.border-left-brown {
    border-left-color: #805f4c !important;
}

.border-right-brown {
    border-right-color: #805f4c !important;
}

.text-brown-300 {
    color: #805f4c !important;
}

.text-brown-300[href]:hover,
.text-brown-300[href]:focus {
    color: #805f4c !important;
}

.bg-brown-300 {
    background-color: #805f4c !important;
}

.border-brown-300 {
    border-color: #805f4c !important;
}

.border-top-brown-300 {
    border-top-color: #805f4c !important;
}

.border-bottom-brown-300 {
    border-bottom-color: #805f4c !important;
}

.border-left-brown-300 {
    border-left-color: #805f4c !important;
}

.border-right-brown-300 {
    border-right-color: #805f4c !important;
}

.text-brown-400 {
    color: #8D6E63;
}

.text-brown-400[href]:hover,
.text-brown-400[href]:focus {
    color: #805f4c !important;
}

.bg-brown-400 {
    background-color: #8D6E63;
}

.border-brown-400 {
    border-color: #8D6E63;
}

.border-top-brown-400 {
    border-top-color: #8D6E63;
}

.border-bottom-brown-400 {
    border-bottom-color: #8D6E63;
}

.border-left-brown-400 {
    border-left-color: #8D6E63;
}

.border-right-brown-400 {
    border-right-color: #8D6E63;
}

.text-brown-600 {
    color: #805f4c !important;
}

.text-brown-600[href]:hover,
.text-brown-600[href]:focus {
    color: #553b33;
}

.bg-brown-600 {
    background-color: #805f4c !important;
}

.border-brown-600 {
    border-color: #805f4c !important;
}

.border-top-brown-600 {
    border-top-color: #805f4c !important;
}

.border-bottom-brown-600 {
    border-bottom-color: #805f4c !important;
}

.border-left-brown-600 {
    border-left-color: #805f4c !important;
}

.border-right-brown-600 {
    border-right-color: #805f4c !important;
}

.text-brown-700 {
    color: #805f4c !important;
}

.text-brown-700[href]:hover,
.text-brown-700[href]:focus {
    color: #805f4c !important;
}

.bg-brown-700 {
    background-color: #805f4c !important;
}

.border-brown-700 {
    border-color: #805f4c !important;
}

.border-top-brown-700 {
    border-top-color: #805f4c !important;
}

.border-bottom-brown-700 {
    border-bottom-color: #805f4c !important;
}

.border-left-brown-700 {
    border-left-color: #805f4c !important;
}

.border-right-brown-700 {
    border-right-color: #805f4c !important;
}

.text-brown-800 {
    color: #805f4c !important;
}

.text-brown-800[href]:hover,
.text-brown-800[href]:focus {
    color: #805f4c !important;
}

.bg-brown-800 {
    background-color: #805f4c !important;
}

.border-brown-800 {
    border-color: #805f4c !important;
}

.border-top-brown-800 {
    border-top-color: #805f4c !important;
}

.border-bottom-brown-800 {
    border-bottom-color: #805f4c !important;
}

.border-left-brown-800 {
    border-left-color: #805f4c !important;
}

.border-right-brown-800 {
    border-right-color: #805f4c !important;
}

.bg-pink {
    background-color: #FF8181 !important;
}

.progressbar-card {
    background-image: url(/vendor/pondit/themes/limitless/global_assets/images/card-bg.png);
    background-repeat: no-repeat;
    background-position: 90% 100%;
    background-size: 25%;
}

.progressbar-card .progress {
    background-color: #bebebf !important;
}

.progressbar-card .progress-bar {
    background-color: #fff !important;
}

.progressbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.progressbar-container .progress {
    flex-grow: 3;
}

.progressbar-container span {
    flex-grow: 2;
}

.sidebar-user-material .sidebar-user-material-body {
    background: url(/vendor/pondit/themes/limitless/global_assets/images/baf-image.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.sidebar-user-material .sidebar-user-material-body::before {
    content: " ";
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.table {
    white-space: nowrap;
}

.breadcrumb-elements-item .badge {
    position: absolute;
    top: 2px;
}
.card {
    border-radius: 12px !important;
}
.card-rounded-top {
    border-radius: 12px 12px 0 0 !important;
}

.btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
}

.btn-circle i {
    position: relative;
    top: -1px;
}

.btn-circle-sm {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 0.9rem;
    margin : 2px;
    box-shadow: 1px 1px 2px 2px #cce;
}
/* alert message color customization */
.alert-success {
    color: #006a4e !important;
    background-color: #e2f2e3;
    border-color: #006a4e !important;
    border-radius: 5px !important;
}

