*, *::before, *::after {
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
body {
    line-height: 1.5 !important;
}
body h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}



/** Paper sizes **/
 /* .A4               .sheet { width: 210mm; height: 296mm } */
 .A4               .sheet { width: 210mm; height: auto }
 .A4.landscape     .sheet { width: 297mm; height: 209mm }

/** Padding area **/
.sheet.padding-10mm { padding: 10mm }
.sheet.padding-15mm { padding: 15mm }
.sheet.padding-20mm { padding: 20mm }
.sheet.padding-25mm { padding: 25mm }

@media screen {
  .A4 .sheet {
    background: white;
    box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
    margin: 5mm auto;
    /* page-break-before: always; */
  }
}
.page {
    width: 29.7cm;
}

/* @media screen and (max-width: 800px) {
    .A4 .sheet {
          transform: scale(0.8);
          margin-bottom: -5cm;
    }
}

@media screen and (min-width: 600px) {
    .A4 .sheet {
          transform: scale(0.6);
          margin-bottom: -10cm;
    }
} */



.card-title {
    margin-bottom: 0.75rem;
}

.card-title {
    position: relative;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
ol {
    margin-top: 0;
    margin-bottom: 1rem;
}
p {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*global css*/
.s-size
{
    font-size: 12px;
}.m-size
{
    font-size: 14px;
}
 .underline
 {
     text-decoration: underline;
 }
/*underline css*/
#covering_title
{
    text-decoration: underline;
}
/* #covering_source_office, #covering_source_branch,
#covering_source_directorate, #covering_source_address,
#covering_source_tel, #covering_source_ext,
#covering_authority, #covering_date_initiation,
#covering_title, #covering_reference,
#covering_body, #covering_signature,
#covering_signing_name, #covering_signing_initiator,
#covering_signing_rank, #covering_signing_initiator_for,
#covering_office_external, #covering_office_action,
#covering_office_info, #office_info_internal
{
    font-size: 14px;
} */
#covering_sigining_email
{
    font-size: 13px;
}

#covering_signature
{
    text-align: center;

}
/* .signature
{
    display: grid;
    justify-content: end;
    margin-left: 70%;
} */
.caption {
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;

    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
}

#covering_title, #covering_signing_name{
    font-weight: bold;
}



/* notesheet */

#notesheet_title
{
    padding-top : 8px;
    padding-bottom : 8px;
    text-decoration: underline;
    font-weight: bold;
}
#notesheet_number 
{
    text-decoration: underline;
    font-weight: bold;
    text-align : center !important;
    padding-bottom : 5px;
}
#notesheet_reference, #notesheet_body {
    padding-top : 8px;
    padding-bottom : 8px;
}
#notesheet_initiating_appointment {
    text-decoration: underline;
}

/* tender */
