.navbar-brand {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 1.25rem;
    font-size: 0;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand img {
    height: 40px;
    display: block;
    margin: 0 10px;
}

.card-header {
    padding: 10px 10px;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.02);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:not([class*=bg-]):not([class*=alpha-]) {
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-width: 0;
}

.sidebar-light .nav-sidebar .nav-link:not(.disabled):hover {
    color: #fff;
    background-color: #064e88;
}

.sidebar-light .nav-sidebar>.nav-item-open>.nav-link:not(.disabled),
.sidebar-light .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #006a4e;
    color: #fff;
}

.sidebar-light .nav-sidebar .nav-item-open>.nav-link:not(.disabled),
.sidebar-light .nav-sidebar>.nav-item-expanded:not(.nav-item-open)>.nav-link {
    background-color: #064e88;
    color: #fff;
}